@media only screen and (min-width: 48rem) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px;
    }

    #menu-toggle {
        display: none;
    }

    nav {
        width: auto;
    }

    nav ul {
        flex-direction: row;
        gap: 25px;
        margin: 0;
    }

    nav a {
        font-size: 1.1rem;
    }

    #directory-container.list-view {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    #directory-container.list-view section {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1.5fr 1.5fr;
        align-items: center;
        text-align: left;
        padding: 12px 25px;
        gap: 20px;
    }

    #directory-container.list-view section img {
        width: 80px;
        height: 80px;
        margin-bottom: 0;
        display: block;
    }

    #directory-container.list-view h3 {
        margin: 0;
        font-size: 1.1rem;
    }

    #directory-container.list-view p {
        margin: 0;
    }

    #directory-container.list-view .tagline {
        display: block;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 40px auto 0 auto;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1100px;
        text-align: left;
    }

    footer hr {
        width: 100%;
        max-width: 1100px;
    }

    .footer-meta {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1100px;
    }
}