@media (min-width: 768px) {
    header {
        padding: 1.5rem;
        justify-content: space-between;
    }

    #menu-toggle {
        display: none;
    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #nav-menu li a {
        padding: 1rem 2.5rem;
    }

    main {
        padding: 2rem;
        max-width: 1100px;
        margin: 0 auto;
    }

    .course-grid {
        grid-template-columns: 1fr 2.5fr;
    }

    .courses-container {
        grid-template-columns: repeat(3, 1fr);
    }
}